<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eventhub-cosmos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c00be5e7-d5f5-44e1-962b-32b6840be7ba/resourceGroups/belajarbelajar/providers/Microsoft.Web/sites/eventhub-cosmos</ResourceId>
    <UserName>$eventhub-cosmos</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://eventhub-cosmos.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>